<!-- All links and metas -->
<meta charset="utf-8">
<meta name="description" content="El portal que estás necesitando, útil para la compra y adminisración de tu negocio de ferretería">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, shrink-to-fit=no"/>

{% load static %}
<!-- styles -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<!-- Google Fonts Roboto -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{% static 'core/vendor/css/bootstrap.min.css' %}">
<!-- Material Design Bootstrap -->
<link rel="stylesheet" href="{% static 'core/vendor/css/mdb.min.css' %}">